

<div class="chat-detail-container">
  <div class="chat-item-detail">
      
    <h2><%= @chat.drink %> ✖️ <%= @chat.snack %></h2>
    <div class="name-and-tag">
      <p>投稿者: <%= @chat.user.name %></p> 
      <div class="chat-tags">
        <% @chat.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %>
      </div>
    </div>

    <p><%= @chat.body %></p>
    <p><%= @chat.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>

    <% if @chat.image? %>
      <p><strong>画像：</strong></p>
      <%= image_tag @chat.image.url, alt: "投稿画像" %>
    <% end %>
    
    <%= link_to "Tweet一覧に戻る", chats_path, class: "btn btn-secondary" %>
  </div>
</div>



